* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: url("../Asset/cursor.png") 10 10, auto;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.game {
  height: 630px;
  > div {
    height: 100%;
  }
}

#left {
  width: 300px;
}

#enemy-interface {
  width: 300px;
  height: 100%;
}

#screen {
  width: 1020px;
}

.text-shadow {
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}

@font-face {
  font-family: "bitbit";
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff"),
    url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2");
}

* {
  font-family: "bitbit";
}

.pixel {
  image-rendering: pixelated;
}

.img-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.player {
  width: 64px;
  height: 64px;
}

.my-btn {
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  width: 120px;
  height: 60px;
  font-size: 25px;
  &:hover {
    opacity: 0.7;
  }
  &.invalid {
    opacity: 0.7;
    &:hover {
      pointer-events: none;
    }
  }
}

.my-shadow {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.7);
}

#player-fight {
  width: 128px;
  height: 128px;
  margin-bottom: -20px;
  margin-left: 20px;
  &.die {
    opacity: 0.3;
  }
  &.fight {
    animation-name: player_forward, player_backward;
    animation-delay: 0s, 0.25s;
    animation-duration: 0.25s, 0.125s;
    animation-timing-function: linear;
    @keyframes player_forward {
      to {
        margin-left: 70px;
      }
    }
    @keyframes player_backward {
      from {
        margin-left: 70px;
      }
      to {
        margin-left: 20px;
      }
    }
  }
}

#player-damaged {
  width: 128px;
  height: 36px;
  font-size: 1.7rem;
}

#player-maxhp {
  bottom: 150px;
  left: 235px;
  width: 128px;
  height: 20px;
}

#player-hp {
  margin-top: -3px;
  margin-left: -3px;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

#enemy {
  position: relative;
  margin-bottom: -20px;
  &.die {
    opacity: 0.3;
  }
  &.fight {
    animation-name: forward, backward;
    animation-delay: 0s, 0.25s;
    animation-duration: 0.25s, 0.125s;
    animation-timing-function: linear;
    @keyframes forward {
      to {
        margin-right: 100px;
      }
    }
    @keyframes backward {
      from {
        margin-right: 100px;
      }
      to {
        margin-right: 0px;
      }
    }
  }
}

#enemy-damaged {
  bottom: 190px;
  right: 150px;
  width: 128px;
  height: 36px;
  font-size: 1.7rem;
  &.crit {
    font-size: 3rem;
  }
}

#enemy-maxhp {
  bottom: 150px;
  right: 150px;
  width: 128px;
  height: 20px;
}

#enemy-hp {
  margin-top: -3px;
  margin-left: -3px;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

.shop-item + .shop-item {
  margin-left: 150px;
}

#tooltip {
  h4 {
    margin: 0;
  }
}
